.header {

    position: fixed;
    z-index: 999;

    width: 100%;
    // background-color: $color-dark-blue;
    background-color: $color-dark-blue;
    color: $color-white;
    padding: 10px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    &_logo-up-text {
        @include text($font-more-standard, $font-weight-bold, $font-medium);
        padding-bottom: 5px;
    }

    &_logo-down-text {
        @include text($font-standard, $font-weight-regular, 17px);
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__label {
    }

    &__logo-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 37px;
    }

    &__slogan {
    }

    &__phone {
        display: flex;
        align-items: center;
    }

    &__phone-img {
        padding-right: 4px;
    }

    &__phone-number {
        @include text($font-more-standard, $font-weight-medium, $font-medium);
    }

    &__social {
        display: flex;
        justify-content: space-between;
        flex-basis: 155px;
    }

    &__social-item {
        
        &:hover {
            .str path {
                stroke: $color-light-blue;
            }
        }

        &:active {
            .str path {
                stroke: $color-black;
            }
        }

        &:hover {
            .fl path {
                fill: $color-light-blue;
            }
        }

        &:active {
            .fl path {
                fill: $color-black;
            }
        }

    }

    &__social-img {
    }
}

@media (max-width: 990px) {
    .header {

		&_logo-up-text {
            font-size: 14px;
		}

		&_logo-down-text {
            font-size: 12px;
		}

		&__slogan {
            font-size: 13px;
            line-height: 155%;
		}

		&__phone-number {
            font-size: 14px;
		}
    }

}

@media (max-width:845px) {
    .header {

		&__logo-text {
            display: none;
		}
    }
}

@media (max-width: 665px) {
    .header {

		&__slogan {
            font-size: 11px;
		}

		&__phone-number {
            font-size: 11px;
		}

		&__social {
            flex-basis: 120px;
		}
    }

}

@media (max-width: 542px) {
    .header {
		&__social {
            display: none;
		}
    }
}

@media (max-width: 410px) {
    .header {


		&__logo {
            display: none;
		}
    }
}

@media (max-width: 345px) {
    .header {

		&_logo-up-text {
            font-size: 10px;
		}

		&_logo-down-text {
            font-size: 9px;
		}

		&__logo {
            display: flex;
		}

		&__logo-text {
            display: flex;
            padding-left: 15px;
		}

		&__slogan {
            display: none;
		}

		&__phone {
            display: none;
		}

		&__social {
            display: block;
		}
    }
}

@media (max-width: 329px) {
    .header {


		&__logo-text {
            display: none
		}

    }
}