.contract {

    padding-top: 160px;

    &_img {
    }

    &__container {
    }

    &__wrapper {
        display: flex;
    }

    &__left-p {
    }

    &__right-p {
        padding-left: 123px;
    }

    &__slogan {
        padding-top: 65px;
        @include text($font-large, $font-weight-bold, 130%);
        padding-bottom: 20px;
    }

    &__text {
        @include text($font-standard, $font-weight-light, 130%);
        padding-bottom: 35px;
    }
}

@media (max-width: 1056px) {
    .contract {

		&__right-p {
            padding-left: 20px;
		}

    }
}

@media (max-width: 938px) {
    .contract {

		&_img {
            width: 100%;
            object-fit: contain;
		}

		&__right-p {
            max-width: 326px;
		}

		&__slogan {
            padding-top: 0;
		}
    }
}

@media (max-width: 612px) {
    .contract {

        padding-top: 100px;

		&__left-p {
            display: none;
		}

		&__right-p {
            max-width: 100%;
            padding-left: 0;
		}

    }

}