.questions {
    width: 100%;

    &__body{
        display: flex;
        padding: 120px 0;
        @media (max-width: 500px) {
            flex-direction: column;
            padding: 60px 0;
        }
    }

    &__title {
        @include text(32px, 700, 130%);
        margin-right: 40px;
        @media (max-width: 999px) {
            font-size: 30px;
        }
        @media (max-width: 768px) {
            font-size: 25px;
            align-self: center;
        }
        @media (max-width: 500px) {
            text-align: center;
            margin-right: 0;
            padding-bottom: 20px;
        }
    }

    &__container {
        width: 130%;
        @media (max-width: 500px) {
            width: 100%;
        }
    }

    &__question {
        @include text(18px, 500, 130%); 
        padding: 21px 10px;
        border-top: 1px solid black;
        
        img{
            transition: transform .3s ease 0s;
            transform: rotate(0deg);
            padding: 0 10px;
            &:hover{
                filter: brightness(0.5) invert(1);
                cursor: pointer;
            }
        }
        @media (max-width: 500px) {
            
            width: 100%;
        }
    }

    &__container-img{
        display: flex;
        justify-content: space-between;
    }

    &__answer{
        @include text(14px, 300, 130%);
        transition: all .5s ease 0s;
        max-height: 80px;
        padding: 25px 0 0 0;
    }

}

.hidden__question{
    opacity: 0;
    max-height: 0;
    padding: 0;
    margin-bottom: 0;
}