.footer {
    background-color: $color-dark-blue;
    color: $color-white;

    &_link {
    }

    &__container {
    }

    &__wrapper {
        display: flex;
    }

    &__info {
        padding: 64px 0 60px 0;
    }

    &__mid-box-text {
        padding-top: 20px;
        @include text($font-standard, $font-weight-light, 130%);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__policy {
        @include text(12px, $font-weight-light, 130%);
        padding-top: 25px;
    }

    &__years {
        @include text(12px, $font-weight-light, 130%);
        padding-top: 10px;
    }

    &__anchors {
        flex-basis: 374px;
        display: flex;
    }

    &__anchors-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include text($font-standard, $font-weight-light, 130%);
        margin: auto 0 auto auto;
        gap: 28px;
        width: fit-content;
        height: fit-content;
    }

    &__contacts {
        flex-basis: 634px;
    }

    &__contacts-box {
        width: fit-content;
        margin: 60px 0 0 auto;
    }

    &__schedule {
        padding: 10px 0 10px 0;
        @include text($font-standard, $font-weight-light, 130%);
    }

    &__btn {
        width: 221px;
        height: 46px;
        background-color: $color-white;
        border-radius: 30px;
        color: $color-black;

        &:hover {
            background-color: $color-very-light-blue;
            transition: all ease 0.3s;
        }

        &:active {
            background-color: $color-light-blue;
            color: $color-white;
            transition: all ease 0.3s;
        }
    }

    &__social {
        justify-content: flex-start;
        gap: 25px;
        padding-top: 35px;
    }

    &__social-img {
        fill: red;
    }

    &__mail {
        padding-top: 20px;
        display: flex;
        align-items: center;
    }

    &__mailto {
        @include text($font-standard, $font-weight-light, 130%);
        padding-left: 9px;
    }
}

@media (max-width: 626px) {
    .footer {
		&__anchors {
            display: none;
		}
    }
}

@media (max-width: 414px) {
    .footer {

		&__info {
            display: none;
		}

		&__contacts {
            padding-bottom: 50px;
		}

		&__contacts-box {
            width: 100%;
		}

		&__btn {
            width: 100%;
		}
    }
}